@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: brightness(0.3) contrast(1.2);
}


@keyframes scroll-up {
    0% {
        transform: translateY(20em);
    }
    100% {
        transform: translateY(-100%);
    }
}